<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h1 class="text-center">
          {{title}}
      </h1>
      <div class="todo-list">
        <form>
          <div class="input-group">

            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn ">
            <button class="btn btn-primary " type="submit">Add</button>
          </span>

          </div>
        </form>
        <!-- /input-group -->

        <div>
          <br>
          <ul class="list-group ">

            <li class="list-group-item">
              <a class="badge">X</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
